{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ loc.name }}{% endblock title %}</h1>
{% endblock header %}

{% block content %}
<small>Created: {{ loc.created|datetimeformat }}</small>&nbsp;
<small>Updated: {{ loc.updated|datetimeformat }}</small><br>
<a class="btn btn-primary" href="{{ url_for('locations.loc_edit', slug=loc.slug) }}">Edit</a>
<hr>

<!-- <div class="row">

<div class="col-4 border bg-light" id="location-sidebar">
<div class="row"> -->
<div class="card float-md-left m-2 p-2">
    <section>
        <h3>Parent Location</h3>
        {% if loc.parent %}
            <a href="{{ url_for('locations.loc_detail', slug=loc.parent.slug) }}">
                {{ loc.parent.name }}
            </a>
        </p>
        {% else %} <p>No parent location</p>
        {% endif %}
    </section>
    <section>
        <h3>Sub-Locations</h3>
        {% with children = loc.get_children() %}
            {% if children %}
                <ul>
                {% for child in children %}
                    <li>
                        <a href="{{ url_for('locations.loc_detail', slug=child.slug) }}">{{ child.name }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
            <p>No sub-locations.</p>
            {% endif %}
        {% endwith %}
    </section>
    <section id="loc-chars">
        <h3>Notable Characters</h3>
        {% with chars = loc.get_characters() %}
            {% if chars %}
            <ul>
                {% for char in chars %}
                <li><a href="{{ url_for('characters.char_detail', slug=char.slug) }}">{{ char.name }}</a></li>    
                {% endfor %}
            </ul>
            {% else %}
            <p>No notable characters in this location.</p>
            {% endif %}
        {% endwith %}
    </section>
</div>
    
<main>
    
    <section class="notes p-2">
        {% if loc.notes %}
            <div class="container-fluid">
                <div id="loc-notes"></div>
            </div>
            {% endif %}
        </section>
    </main>

<footer>
<hr>
<a class="btn btn-primary mb-2" href="{{ url_for('locations.loc_edit', slug=loc.slug) }}">Edit</a>
<form action="{{ url_for('locations.loc_delete', slug=loc.slug) }}" method="post">
    <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure?');">
</form>
</footer>
{% endblock content %}

{% block js %}
{{ super() }}
{% if loc.notes %}
<script>
document.getElementById("loc-notes").innerHTML = DOMPurify.sanitize(`{{ loc.notes|safe }}`);
</script>
{% endif %}
{% endblock js %}