{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ loc.name }}{% endblock title %}</h1>
{% endblock header %}

{% block content %}

<small>Created: {{ loc.created|datetimeformat }}</small>&nbsp;
<small>Updated: {{ loc.updated|datetimeformat }}</small><br>
<a class="btn btn-primary" href="{{ url_for('locations.loc_edit', slug=loc.slug) }}">Edit</a>
<hr>
<div class="container">


<article>
<section id="loc-notes">
    {% if loc.notes %}
        <h2>Notes</h2>
        <div class="notes" id="loc-notes"></div>
    {% endif %}
</section>
    
<section id="loc-chars">
    <h2>Notable Characters</h2>
    {% if chars %}
    <ul>
        {% for char in chars %}
        <li><a href="{{ url_for('characters.char_detail', slug=char.slug) }}">{{ char.name }}</a></li>    
        {% endfor %}
    </ul>
    {% else %}
    No notable characters in this location.
    {% endif %}
</section>

</article>
</div> <!-- .container -->
    
<hr>
<form action="{{ url_for('locations.loc_delete', slug=loc.slug) }}" method="post">
    <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure?');">
</form>

{% endblock content %}

{% block js %}
{{ super() }}
{% if loc.notes %}
<script>
document.getElementById("loc-notes").innerHTML = DOMPurify.sanitize(`{{ loc.notes|safe }}`);
</script>
{% endif %}
{% endblock js %}