{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ loc.name }}{% endblock title %}</h1>
{% endblock header %}

{% block content %}
<small>Created: {{ loc.created|datetimeformat }}</small>&nbsp;
<small>Updated: {{ loc.updated|datetimeformat }}</small><br>
<a class="btn btn-primary" href="{{ url_for('locations.loc_edit', slug=loc.slug) }}">Edit</a>
<hr>

<main class="location">
<div class="container">    
    
<section>
    {% if loc.parent %}
    <p><strong>Parent location: </strong>
        <a href="{{ url_for('locations.loc_detail', slug=loc.parent.slug) }}">
            {{ loc.parent.name }}
        </a>
    </p>
    {% else %} <p>No parent location</p>
    {% endif %}
</section>

<section class="notes">
    {% if loc.notes %}
        <h2>Notes</h2>
        <div class="container-fluid">
            <div id="loc-notes"></div>
        </div>
    {% endif %}
</section>

<section>
    <h2>Sub-Locations</h2>
    {% with children = loc.get_children() %}
        {% if children %}
            <ul>
            {% for child in children %}
                <li>
                    <a href="{{ url_for('locations.loc_detail', slug=child.slug) }}">{{ child.name }}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
        No sub-locations.
        {% endif %}
    {% endwith %}
</section>
    
<section id="loc-chars">
    <h2>Notable Characters</h2>
    {% with chars = loc.get_characters() %}
        {% if chars %}
        <ul>
            {% for char in chars %}
            <li><a href="{{ url_for('characters.char_detail', slug=char.slug) }}">{{ char.name }}</a></li>    
            {% endfor %}
        </ul>
        {% else %}
        No notable characters in this location.
        {% endif %}
    {% endwith %}
</section>

</div> <!-- .container -->
</main>
    
<footer>
<hr>
<a class="btn btn-primary mb-2" href="{{ url_for('locations.loc_edit', slug=loc.slug) }}">Edit</a>
<form action="{{ url_for('locations.loc_delete', slug=loc.slug) }}" method="post">
    <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure?');">
</form>
</footer>
{% endblock content %}

{% block js %}
{{ super() }}
{% if loc.notes %}
<script>
document.getElementById("loc-notes").innerHTML = DOMPurify.sanitize(`{{ loc.notes|safe }}`);
</script>
{% endif %}
{% endblock js %}