{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ char.name }}{% endblock title %}</h1>
{% endblock header %}

{% block content %}

<small>Created: {{ char.created|datetimeformat }}</small>&nbsp;
<small>Updated: {{ char.updated|datetimeformat }}</small><br>
<a class="btn btn-primary" href="{{ url_for('characters.char_edit', slug=char.slug) }}">Edit</a>
<hr>

<div class="container">

<article>

<section id="keyInfo">
<details open>
<summary class="detailSummary"><h2>Key Information</h2></summary>
<div class="card card-body">
    <ul>
        <li><strong>Location:</strong>
        {% if char.location %}
            <a href="{{ url_for('locations.loc_detail', slug=char.location.slug) }}">
                {{ char.location.name }}
            </a>
        {% endif %}
        </li>
        <li><strong>Race: </strong>{% if char.race %}{{ char.race }}{% endif %}</li>
        <li><strong>Class: </strong>{% if char.class_ %}{{ char.class_ }}{% endif %}</li>
        <li><strong>Alive?</strong> {% if char.alive == "a" %}Yes{% else %}No{% endif %}</li>
    </ul>
</div>
</details>  
</section><!-- #keyInfo -->

<section id="notes">
<details open>
    <summary class="detailSummary"><h2>Notes</h2></summary>
    <div class="card card-body" id="charNotes"></div>
</details>
</section><!-- #notes -->

</article>
</div><!-- .container -->

<hr>
<form action="{{ url_for('characters.char_delete', slug=char.slug) }}" method="post" class="form-inline">
    <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure?');">
</form>

{% endblock content %}

{% block js %}
{{ super() }}
{% if char.notes %}
<script>
    document.getElementById("charNotes").innerHTML = DOMPurify.sanitize(`{{ char.notes|safe }}`);
</script>
{% endif %}
{% endblock js %}