{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ char.name }}{% endblock title %}</h1>
{% endblock header %}

{% block content %}

<small>Created: {{ char.created|datetimeformat }}</small>&nbsp;
<small>Updated: {{ char.updated|datetimeformat }}</small><br>
<a class="btn btn-primary" href="{{ url_for('characters.char_edit', slug=char.slug) }}">Edit</a>
<hr>

<main>
<div class="container">

<article>

<section>
    <h2>Key Information</h2>
    <dl>
        <div class="row">
            <dt class="col-sm-2">Location</dt>
            <dd class="col-sm">
                {% if char.location %}
                <a href="{{ url_for('locations.loc_detail', slug=char.location.slug) }}">
                    {{ char.location.name }}
                </a>
                {% endif %}
            </dd>
        </div>

        <div class="row">
            <dt class="col-sm-2">Race</dt>
            <dd class="col-sm">{% if char.race %}{{ char.race }}{% endif %}</dd>
        </div>

        <div class="row">
            <dt class="col-sm-2">Class</dt>
            <dd class="col-sm">{% if char.class_ %}{{ char.class_ }}{% endif %}</dd>
        </div>

        <div class="row">
            <dt class="col-sm-2">Alive</dt>
            <dd class="col-sm">{% if char.alive == "a" %}Yes{% else %}No{% endif %}</dd>
        </div>
    </dl>
</section>

<section class="notes">
    {% if char.notes %}
        <h2>Notes</h2>
        <div class="container-fluid">
            <div id="charNotes"></div>
        </div>
        {% endif %}
    </section>

</article>
</div><!-- .container -->
</main>

<hr>
<a class="btn btn-primary mb-2" href="{{ url_for('characters.char_edit', slug=char.slug) }}">Edit</a>
<form action="{{ url_for('characters.char_delete', slug=char.slug) }}" method="post" class="form-inline">
    <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure?');">
</form>

{% endblock content %}

{% block js %}
{{ super() }}
{% if char.notes %}
<script>
    document.getElementById("charNotes").innerHTML = DOMPurify.sanitize(`{{ char.notes|safe }}`);
</script>
{% endif %}
{% endblock js %}