{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}{{ pagetitle }} Character{% endblock title %}</h1>
{% endblock header %}

{% block content %}

<div class="container">
<form action="" method="post">
    {{ form.csrf_token }}

    <div class="form-group">
        {{ form.name.label }}
        {{ form.name(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.race.label }}
        {{ form.race(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.class_.label }}
        {{ form.class_(class_="form-control") }}
    </div>
    <div class="form-group">
        {{ form.notes.label }}
        {{ form.notes(class_="form-control", rows=10)}}
    </div>
    <div class="form-group">
        {{ form.location.label }}
        {{ form.location(class_="form-control") }}
    </div>
    <div class="form-group">
        {% for subfield in form.alive %}
        <div class="form-check form-check-inline">
            {{ subfield(class_="form-check-input") }}
            {{ subfield.label(class_="form-check-label") }}
        </div>
        {% endfor %}
    </div>
    <input class="btn btn-primary btn-lg mt-2" type="submit" value="Save">
    {% if char is defined %}
        {% set url = url_for('characters.char_detail', slug=char.slug) %}
    {% else %}
        {% set url = url_for('characters.char_list') %}
    {% endif %}
    <input type="button" name="cancel" value="Cancel"
        onClick="window.location.href='{{ url }}'"
        class="btn btn-seconday btn-lg mt-2">
</form>
</div>

{% if pagetitle == "Edit" %}
<hr>
<form action="{{ url_for('characters.char_delete', slug=char.slug) }}" method="post">
    <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure?');">
</form>
{% endif %}

{% endblock content %}