{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Character{% endblock title %}</h1>
{% endblock header %}

{% block content %}

<form method="post">
    {{ form.csrf_token }}
    <div>{{ form.name.label }} {{ form.name }}</div>
    <div>{{ form.notes.label }} {{ form.notes(rows=10, cols=50) }}</div>
    <div>{{ form.location.label }} {{ form.location }}</div>
    <div>{{ form.alive.label }} {{ form.alive }}</div>
    <input type="submit" value="Save">
</form>

{% endblock content %}