{% extends 'base.html' %}

{% block header %}<h1>{% block title %}{{ nt.name }}{% endblock title %}</h1>{% endblock header %}

{% block content %}

<small>Created: {{ nt.created|datetimeformat }}</small>&nbsp;
<small>Updated: {{ nt.updated|datetimeformat }}</small><br>
<a class="btn btn-primary" href="{{ url_for('notes.note_edit', slug=nt.slug) }}">Edit</a>
<hr>
<div class="container">

<section id="note-notes">
    {% if nt.notes %}
        <h2>Notes</h2>
        <div class="notes" id="note-notes"></div>
    {% endif %}
</section>
</div>    
<hr>
<form action="{{ url_for('notes.note_delete', slug=nt.slug) }}" method="post">
    <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure?');">
</form>
    
{% endblock content %}

{% block js %}
{{ super() }}
{% if nt.notes %}
<script>
document.getElementById("note-notes").innerHTML = DOMPurify.sanitize(`{{ nt.notes|safe }}`);
</script>
{% endif %}
{% endblock js %}